
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    background-color: hsl(230, 17%, 14%);
    color: #fff;
}

/*HEADER STYLE*/

.social-header{
    display: flex;
    justify-content: space-between;
}