
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*
    font-family: 'Inter', sans-serif;
*/

/*GLOBAL*/

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: hsl(230, 17%, 14%);
    font-family: 'Inter', sans-serif;
    color: #fff;
}



.container{
    max-width: 1400px;
    margin: auto;
}

.positive{
    color:  hsl(163, 72%, 41%);
}

.negative{
    color: hsl(356, 69%, 56%);
}

.c-facebook{
    color: hsl(195, 100%, 50%);
}

.b-facebook{
    border-top: 2px solid hsl(195, 100%, 50%);
}

.c-twitter{
    color: hsl(203, 89%, 53%);
}

.b-twitter{
    border-top: 2px solid hsl(203, 89%, 53%);
}

.c-youtube{
    color: hsl(348, 97%, 39%);
}

.b-youtube{
    border-top: 2px solid hsl(348, 97%, 39%);
}

.toggle {
    width: 50px;
    height: 25px;
    background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%)) ;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: hsl(232, 19%, 15%);
    position: absolute;
    top: 50%;
    transform: translatey(-45%);
    left: 5%;
}

/*MOBILE PHONE*/

@media (min-width: 375px){
    /*SOCIAL MEDIA ACCOUNTS STYLE*/

.social-account-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 90%;
    justify-content: space-between;
}

.social-account-item {
    padding: 30px 0px;
    border-radius: 5px;
    background: hsl(228, 28%, 20%);
    text-align: center;
    max-width: 90%;
    margin: 10px auto;
    width: 100%;
}

/*HEADER STYLE*/

.social-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social-header p{
    color: #606581;
    font-weight: 700;
   
}

.social-title h2 {
    margin-bottom: 6px;
}

.mode {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.mode p{
    margin-right: 10px;
}

p.social-names-box {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
}

p.social-names-box a{
    margin-right: 7px;
}

h3.followers-number-single {
    font-size: 50px;
    margin-top: 20px;
}

a.fab{
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
}

.social-name{
    color: #606581;
    text-decoration: none;
}

p.folowers-name {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #606581;
    font-weight: 400;
}

.gained-followers-today{
    font-weight: 700;
}

.gained-followers-today span.fas{
    margin-right: 7px;
}

.my-instagram{
   position: relative;
}

.my-instagram:before{
    content: '';
    height: 2px;
    display: block;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    top: 0;
    left: 0;
}

/*OVERVIEW STYLE*/
.overview-heading{
    margin: 30px 0;
}

.social-overview-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 90%;
    justify-content: space-between;
}

.social-overview-item {
    padding: 30px 0px;
    border-radius: 5px;
    background: hsl(228, 28%, 20%);
    text-align: center;
    max-width: 90%;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.overview-info {
    padding: 0 13px;
}

p.overview-title{
    margin-bottom: 40px;
}

.overview-info a, .overview-info svg{
    margin-bottom: 50px;
}

p.overview-title{
    color: #606581;
    font-weight: 700;
}

.overview-number, .overview-number1{
    text-align: left;
}

.overview-info span.fas {
    margin-right: 3px;
}

.overview-number1{
    font-size: 30px;
}
}

@media (min-width: 1100px){
/*HEADER STYLE*/

.social-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social-header p{
    color: #606581;
    font-weight: 700;
   
}

.social-title h2 {
    margin-bottom: 6px;
}

.mode {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.mode p{
    margin-right: 10px;
}

/*SOCIAL MEDIA ACCOUNTS STYLE*/

.social-account-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 25%;
    justify-content: space-between;
}

.social-account-item {
    padding: 30px 0px;
    border-radius: 5px;
    background: hsl(228, 28%, 20%);
    text-align: center;
    max-width: 24%;
    width: 100%;
}

p.social-names-box {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
}

p.social-names-box a{
    margin-right: 7px;
}

h3.followers-number-single {
    font-size: 50px;
    margin-top: 20px;
}

a.fab{
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
}

.social-name{
    color: #606581;
    text-decoration: none;
}

p.folowers-name {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #606581;
    font-weight: 400;
}

.gained-followers-today{
    font-weight: 700;
}

.gained-followers-today span.fas{
    margin-right: 7px;
}

.my-instagram{
   position: relative;
}

.my-instagram:before{
    content: '';
    height: 2px;
    display: block;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    top: 0;
    left: 0;
}

/*OVERVIEW STYLE*/
.overview-heading{
    margin: 30px 0;
}

.social-overview-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 25%;
    justify-content: space-between;
}

.social-overview-item {
    padding: 30px 0px;
    border-radius: 5px;
    background: hsl(228, 28%, 20%);
    text-align: center;
    max-width: 24%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.overview-info {
    padding: 0 13px;
}

p.overview-title{
    margin-bottom: 40px;
}

.overview-info a, .overview-info svg{
    margin-bottom: 50px;
}

p.overview-title{
    color: #606581;
    font-weight: 700;
}

.overview-number, .overview-number1{
    text-align: left;
}

.overview-info span.fas {
    margin-right: 3px;
}

.overview-number1{
    font-size: 30px;
}
}

